<sc-page [showNav]="isNavigationShown">
  <div scPageHeader>
    <sc-global-header appName="FormsViewer" [(show)]="isNavigationShown">
      <a href="/sitecore/shell/sitecore/client/Applications/Launchpad" scGlobalLogo></a>
      <!-- AccountInformation gets accountName and accountImageUrl automatically from Sitecore context which is configured in AppModule -->
      <sc-account-information (logout)="logoutService.logout()"></sc-account-information>
    </sc-global-header>
  </div>

  <div scPageAppHeader>
    <sc-application-header text="Sitecore Forms Data Viewer 1.0 - Beta"></sc-application-header>
  </div>
  <div scPageActionBar>
    <sc-action-bar>
      <sc-action-bar-left>
        <div class="col-1">
          <p style="padding-top:6px; font-size:14px"><strong>Forms</strong></p>
        </div>
        <div class="col-2">
          <select id="database" [(ngModel)]="selectedForm" class="form-control" (change)="loadForms()">
            <option *ngFor="let c of forms" [value]="c.Id">{{ c.Name }}</option>
          </select>
        </div>
        <div class="col-1">
          <p style="padding-top:6px; font-size:14px"><strong>Start Date</strong></p>
        </div>
        <div class="col-2">
          <input type="date" [(ngModel)]="startDate" class="form-control" (change)="loadForms()" />
        </div>
        <div class="col-1">
          <p style="padding-top:6px; font-size:14px"><strong>End Date</strong></p>
        </div>
        <div class="col-2">
          <input type="date" [(ngModel)]="endDate" class="form-control" (change)="loadForms()" />
        </div>
        <div class="col-1">
          <button scButton="primary" (click)="dialogService.open(export)">Export</button>
        </div>
      </sc-action-bar-left>
      <sc-action-bar-right>
        <button type="button" scIconButton [(scToggle)]="isEditing" (click)="loadChart()">
          <sc-icon size="small" icon="context_toggle"></sc-icon>
        </button>
      </sc-action-bar-right>
    </sc-action-bar>
  </div>

  <article scPageContent class="p-4">
    <div class="card mb-3" *ngIf="!selectedForm">
      <p class="no-data">No forms selected</p>
    </div>


    <div class="card mb-3">
      <div class="card-block" *ngIf="formEntries && !isLoading">
        <div class="row">
          <div class="col-11">
            <div class="row">
              <p style="padding-left:12px; font-size:14px"><strong>Total Count: {{formEntries.Entries.length}}</strong>
              </p>
            </div>
            <div class="row">
              <table scTable>
                <thead>
                  <tr>
                    <th *ngFor='let header of formEntries.Headers'>{{header}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor='let values of formEntries.Entries'>
                    <td *ngFor='let value of values' [innerHTML]="value"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <sc-progress-indicator-panel [show]="isLoading">
      </sc-progress-indicator-panel>
    </div>
  </article>
  <aside scPageContext [show]="isEditing" class="bg-basic-white">
    <div class="p3">
      <p style="color:red;font-size: 14px;padding:5px;" class="bold" *ngIf="settings && !settings.XDbEnabled">Xdb is
        disabled! You cannot retrieve the form analytics data</p>
      <div class="col-3">

        <table scTable *ngIf="formStatistics && formStatistics.SuccessSubmits && formStatistics.SuccessSubmits>-1">
          <thead>
            <tr>
              <th class="width-1">Success submit</th>
              <th class="width-1">Submit Count</th>
              <th class="width-1">Errors</th>
              <th class="width-1">Visits</th>
              <th class="width-1"> Drop outs</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{formStatistics.SuccessSubmits}}</td>
              <td>{{formStatistics.SubmitsCount}}</td>
              <td>{{formStatistics.Errors}}</td>
              <td>{{formStatistics.Visits}}</td>
              <td>{{formStatistics.Dropouts}}</td>
            </tr>
          </tbody>
        </table>

      </div>

    </div>
    <div style="width: 300px;display:block;padding-left:30px">
      <canvas id="myChart" width="300" height="400"></canvas>
    </div>
  </aside>
</sc-page>


<template #export>
  <sc-dialog>
    <sc-dialog-header>
      <h4>Export</h4>
    </sc-dialog-header>
    <sc-dialog-body>

      <div class="row">
        <div class="col-3">
          <h5>Start Date</h5>
        </div>
        <div class="col-1"></div>
        <div class="col-3">
          <h5>End Date</h5>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-3">
          <input type="date" class="form-control" [(ngModel)]="startDate" />
        </div>
        <div class="col-1"></div>
        <div class="col-3">
          <input type="date" class="form-control" [(ngModel)]="endDate" />
        </div>
      </div>
      <br>
      <h5>Export Type</h5>
      <div class="row">

        <div class="col-2">
          <label class="container-rb"><input type="radio" name="mode" value="csv" [(ngModel)]="exportType">&nbsp; CSV
            <span class="checkmark-rb"></span></label>
        </div>
        <div class="col-2">
          <label class="container-rb"><input type="radio" name="mode" value="xml" [(ngModel)]="exportType">&nbsp;
            XML<span class="checkmark-rb"></span></label>
        </div>
        <div class="col-2">
          <label class="container-rb"><input type="radio" name="mode" value="excel" [(ngModel)]="exportType">&nbsp;
            Excel<span class="checkmark-rb"></span></label>
        </div>
      </div>
      <h5>Include fields</h5>
      <div class="row" *ngIf="parent.formEntries">
        <div class="col-3" *ngFor='let option of parent.options'>

          <label class="container">{{option.name}}
            <input type="checkbox" name="options" value="{{option.value}}" [(ngModel)]="option.checked">
            <span class="checkmark"></span>
          </label>
          <!-- <label  *ngFor='let header of formEntries.Headers'><input type="checkbox" name="header"  value="header" [(ngModel)]="exportFields">&nbsp; {{header}}</label> -->
        </div>
      </div>


    </sc-dialog-body>
    <sc-dialog-footer>
      <button scButton scDialogClose>Close</button>
      <button scButton="primary" (click)="alertAndClose()">Export</button>
    </sc-dialog-footer>
  </sc-dialog>
</template>